<!DOCTYPE html>
<html>
<head>
    <title>登陆</title>
    #parse("common/header.html")
    <style>
        .page-part {
            margin: 60px 0 20px 0;
        }
    </style>
</head>
<body>
<div id="app">
    <app-header title="登陆" :show-left="showLeft"></app-header>
    <div class="page-part">
        <mt-field v-model="user.account" placeholder="手机号（账号）"></mt-field>
        <mt-field v-model="user.password" placeholder="密码" type="password"></mt-field>
    </div>
    <mt-button type="primary" size="large" @click.native="login">登陆</mt-button>
</div>
</div>
</body>
#parse("common/footer.html")
<script src="${rc.contextPath}/js/login.js?_${date.systemTime}"></script>
</html>