/** 通用css **/
[v-cloak] {
    display: none !important;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 40px;
}

/** 控制底部tabbar的高度 **/
.mint-tab-item-label {
    line-height: 3;
}

/** 头部header的颜色 **/
.mint-header {
    background-color: #00b38a;
}

